@font-face {
  font-family: 'icomoon';
  src:  url('fonts1/icomoon.eot?dadelv');
  src:  url('fonts1/icomoon.eot?dadelv#iefix') format('embedded-opentype'),
    url('fonts1/icomoon.ttf?dadelv') format('truetype'),
    url('fonts1/icomoon.woff?dadelv') format('woff'),
    url('fonts1/icomoon.svg?dadelv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text2:before {
  content: "\e926";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
